.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #7892f9;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2 {
  margin: 5px 5px 0px 20px;
  text-align: left;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
}
p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  text-align: center;
}
input {
  height: 35px;
  width: 55%;
  border: 1px solid;
  border-radius: 5px;
}
button {
  color: white;
  background: #8d72e1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border: 1px solid #8d72e1;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  margin: 3px;
}
button:hover {
  background-color: #6c4ab6;
  border: 1px solid #6c4ab6;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

.description {
  font-size: 13px;
  padding: 3px 0 0 20px;
  text-align: left;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0%;
  max-width: 650px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.tmp {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: auto;
}

.temper {
  font-size: 70px;
  font-weight: 500;
  position: relative;
  bottom: -20px;
}

.clearfix {
  border-radius: 30px;

  margin-top: 18px;
  background: #b9e0ff;
}
.hight {
  position: relative;
  top: -18px;
  font-size: 18px;
}
.code {
  text-align: center;
  color: black;
  font-size: 12px;
}

.card-body {
  padding: 20px 10px;
}
